# Virtual environments
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# ML models
*.pth
*.pkl
*.pb
*_pywrap_tensorflow_internal.pyd

# Uploads & data
Dataset/

# IDE / OS files
.idea/
.DS_Store
Thumbs.db
